// TITLECARD 

.navbar{
    background-color: rgba(0,0,0,0.356);
}

.part-title{
    font-size:25px;
    font-family: 'Bad Script', cursive;
   
}
.phobia-name{
    font-family: 'Open Sans', sans-serif;
    font-weight:600px;
    font-size:60px;
    letter-spacing:4px;
}


//TESTIMONIALS

.testimonials{
    width: 93%;
    height: 600px;
    margin-left:3.5%;
    box-sizing:border-box;
    display:flex;
    margin-top:800px;
    align-items:center;
    position:absolute;
    overflow:hidden;
    
    
  
}
.arr{
    position:relative;
  
    min-width:350px;
    height: 80%;
    transition:3s;
    overflow:hidden;
    border: 1px solid rgb(148, 147, 147);
   
}


button{
    &:focus{
        outline:none;
    }
}
.leftButton{
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    width:5%;
    height: 80%;
    transition:0.5s;
    border-right:1px solid black;
    &:hover{
        background:rgba(0,0,0,0.356);

    }
   
    cursor:pointer;
    border: none;
    background:none;
    outline:none;
    border-left:1px solid rgb(148, 147, 147);
   

}
.rightButton{
       &:hover{
        background:rgba(0,0,0,0.356);
       
      
    }
    cursor:pointer;
    transition:0.5s;
    border-right:1px solid rgb(148, 147, 147);
    background:none;
    outline:none;
    position:absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
    width:5%;
    height: 80%;
    border-left:none;
    border-top:none;
    border-bottom:none;
    
}

i{
    color:rgb(148, 147, 147);
    font-size:35px;
}

.testimonial-title{
      font-family: 'Open Sans', sans-serif;
    font-weight:600px;
    font-size:60px;
    letter-spacing:4px;
  

}
