// .background-image{
//       position: fixed;
//  z-index:-30;
//   min-width: 100%;
//   min-height: 100%;
// }

// TITLECARD 
body{
    height:600vh;
    width:100%;
}
.navbar{
    background-color: rgb(19, 19, 19);
    position:fixed;
  
    width:100%;
   z-index:300;
   color:rgb(199, 198, 198);
}
 .phobia-name{
    font-family: 'Montserrat', sans-serif;
    font-weight:600px;
    font-size:150px;
    letter-spacing:6px;
    margin-top:200px;
    color:white;
    display:flex;
    justify-content:center;
     margin-right:70px;
 }
 div > span {
  opacity: 0.15;
}
#I {
  opacity: 1;
  animation: flickerI 9s linear  reverse infinite;
}
#I::after {
  content: '';
  width: 150%;
  -webkit-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
  -moz-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
  box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
}
#L, #G {
  animation: flickerLG 11s linear reverse infinite;
  position: relative;
}
#L::after, 
#L::before  {
  content:' ';
  width: 100px;
  height: 100px;
  background: var(--white);
  position: absolute;
  top: -50%;
  left: 100%;
  border-radius: 100%;
  opacity: 0.05;
  filter: blur(10px);
}
#L::after {
  width: 200px;
  height: 200px;
  top: -150%;
  left: -5%;
  opacity: 0.1;
  filter: blur(10px);
}
#H {
  animation: flickerH 10s linear reverse infinite
}

#T {
  animation: flickerH 11s linear reverse infinite
}

@keyframes flickerI {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerLG {
  0% {
    opacity: 0.19;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.25;
  }
  15% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.35;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes flickerH {
  0% {
    opacity: 0.15;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.12;
  }
  15% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.15;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.12;
  }
  45% {
    opacity: 0.15;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.18;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes flickerT {
  0% {
    opacity: 0.01;
  }
  5% {
    opacity: 0.05;
  }
  10% {
    opacity: 0.03;
  }
  15% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.07;
  }
  30% {
    opacity: 0.1;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.06;
  }
  45% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.0;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.0;
  }
  90% {
    opacity: 0.0;
  }
  100% {
    opacity: 0.1;
  }
}




.part-title{
    font-size:85px;
    font-family: 'Bad Script', cursive;
   margin-top:-90px;
 
         display:flex;
    justify-content:flex-end;
   margin-right:580px;
   color:rgb(201, 198, 198);
   
   
}
.part-title2{
    font-size:105px;
   font-family: 'Caveat', cursive;
    margin-top:-80px;
    color:rgb(153, 149, 149);
        display:flex;
    justify-content:flex-end;
     margin-right:380px;
   
}

.card{
    background-color:rgba(0,0,0,0.253);
    border-radius:40px;
     transition: all 1s ease-in-out;
    
     margin:50px;
    
    
}

.card:hover{
   background:black;
     transform: scale(1.5);
      transition: all 1s ease-in-out;
        // box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
      

 
     
}
.card-subtitle{
    color:rgb(124, 124, 124);
    text-decoration:none
}
.card-title{
  
  text-decoration: none;
 color:rgb(192, 190, 190);
  width: 100%;
  bottom: 20px;
  font-size:35px;
  font-weight:700px;
  transition: all 0.8s ease-in-out;
}
  .card-title:hover{
    letter-spacing: 8px;
  transition: all .8s ease-in-out;
  color: #fff;
  text-shadow:
    0 0 .5px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 4px #fff,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff;
  

  }





body{
    background-color:black;
  
}

//TESTIMONIALS
.fade_rule {
        height: 2px;
        
        width: 66.0em;
        margin: 0 auto;
       
        background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, grey), color-stop(0.5, white), color-stop(0.98, grey) );
}



.testimonials{
    width: 70%;
    height: 500px;
    margin-left:210px;
    box-sizing:border-box;
    display:flex;
    
    margin-top:1300px;
    align-items:center;
    position:absolute;
    overflow:hidden;
    
    
  
}
.arr{
    position:relative;
 
    width:300px;
    height: 80%;
    transition:3s;
    overflow:hidden;
    border: 1px solid white;
   
}


button{
    &:focus{
        outline:none;
    }
}
.leftButton{
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    width:5%;
    height: 80%;
    transition:0.5s;
    border-right:1px solid black;
    &:hover{
        background:rgba(0,0,0,0.356);

    }
   
    cursor:pointer;
    border: none;
    background:none;
    outline:none;
    border-left:1px solid rgb(148, 147, 147);
   

}
.rightButton{
       &:hover{
        background:rgba(0,0,0,0.356);
       
      
    }
    cursor:pointer;
    transition:0.5s;
    border-right:1px solid rgb(148, 147, 147);
    background:none;
    outline:none;
    position:absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
    width:5%;
    height: 80%;
    border-left:none;
    border-top:none;
    border-bottom:none;
    
}

i{
    color:rgb(148, 147, 147);
    font-size:35px;
}

.testimonial-title{
     font-family: 'IM Fell English', serif;
    font-weight:600px;
    font-size:70px;
    letter-spacing:4px;
    color:rgb(218, 216, 216);
    margin-top:50px;
     justify-content:center;
     display:flex;
     
    

}
.testimonial-text{
    background:rgba(0,0,0,0.253);
    color:white;

}
//MODAL

.modal{
    border: 1px solid white;
    margin-left:400px;
    margin-top:85px;
    background-color:black;
    
    
    
   
    
}

.modalBackground{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height:730px;
    width:100%;
   
   
}

.startButton{
    // margin-top:550px;
    // margin-right:40px;
    display:flex;
    justify-content:center;
    align-self:flex-end;
    margin-bottom:7px;
    font-size:20px;
    padding:5px;
    width:120px;
    height:40px;
    color: white;
    background-color:black;
     position:absolute;
}
.startButtonLast{
    margin-top:350px;
    margin-left:-85px;
    font-size:20px;
    padding:5px;
    width:180px;
    height:40px;
    color: white;
    background-color:black;
     position:absolute;
}


.modalText{
    
    font-size: 20px;
    
    text-align: center;
    color:white;
    width:100%;
    position:absolute;
      display:flex;
    justify-content:center;
    align-self:flex-end;
    margin-bottom:80px;
}
