.background-image{
      position: fixed;
 z-index:-30;
  min-width: 100%;
  min-height: 100%;
}

// TITLECARD 

body{
    height:100%;
    overflow-y: scroll;
    width:100%;
    background-color:black;
}
.navbar{
    background-color: rgb(19, 19, 19);
    position:fixed;
  
    width:100%;
   z-index:10000;
   color:rgb(199, 198, 198);
   
  
}

.audioButton{
      display:flex;
    justify-content:end;
   position:absolute;
   margin-left:120px;
     margin-top:10px;
     color:white;
     font-size:20px;
     cursor:pointer;
}

.header{
    height:200px;
}
 .phobia-name{
     position:relative;
    font-family: 'Montserrat', sans-serif;
    font-weight:600px;
    font-size:150px;
    letter-spacing:6px;
    margin-top:200px;
    color:white;
    display:flex;
    justify-content:center;
    margin-left:300px;
 }
 div > span {
  opacity: 0.15;
}
#I {
  opacity: 1;
  animation: flickerI 9s linear  reverse infinite;
}
#I::after {
  content: '';
  width: 150%;
 
  -webkit-box-shadow: -35px 0px 60px 3px rgba(255,255,255,1);
  -moz-box-shadow: -35px 0px 60px 10px rgba(255,255,255,1);
  box-shadow: -35px 0px 60px 3px rgba(255,255,255,1);
}
#L, #G {
  animation: flickerLG 11s linear reverse infinite;
  position: relative;
}
#L::after, 
#L::before  {
  content:' ';
  width: 100px;
  height: 100px;
  background: var(--white);
  position: absolute;
  top: -50%;
  left: 100%;
  border-radius: 100%;
  opacity: 0.05;
  filter: blur(10px);
}
#L::after {
  width: 200px;
  height: 200px;
  top: -150%;
  left: -5%;
  opacity: 0.1;
  filter: blur(10px);
}
#H {
  animation: flickerH 10s linear reverse infinite
}

#T {
  animation: flickerH 11s linear reverse infinite
}

@keyframes flickerI {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerLG {
  0% {
    opacity: 0.19;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.25;
  }
  15% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.35;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes flickerH {
  0% {
    opacity: 0.15;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.12;
  }
  15% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.15;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.12;
  }
  45% {
    opacity: 0.15;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.18;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes flickerT {
  0% {
    opacity: 0.01;
  }
  5% {
    opacity: 0.05;
  }
  10% {
    opacity: 0.03;
  }
  15% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.07;
  }
  30% {
    opacity: 0.1;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.06;
  }
  45% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.0;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.0;
  }
  90% {
    opacity: 0.0;
  }
  100% {
    opacity: 0.1;
  }
}




.part-title{
    font-size:85px;
    font-family: 'Bad Script', cursive;
   margin-top:330px;
   

         display:flex;
    justify-content:flex-end;
   margin-left:450px;
   color:rgb(204, 203, 203);
   
   
}
.part-title2{
    font-size:105px;
   font-family: 'Caveat', cursive;
    margin-top:400px;
    color:rgb(153, 149, 149);
        display:flex;
    justify-content:flex-end;
     margin-left:600px;
     
}
.aboutTitle{
   
        color:white;
   display:flex;
   justify-content:center;
   margin-left:10px;
   font-size:60px;
   margin-top:200px;
}
.aboutText{
    color:white;
       display:flex;
   justify-content:center;
   text-align:center;
   margin-left:230px;
   font-size:30px;
    width:70%;
    margin-bottom:40px;
   
}
.about-background{
    background-color:rgba(5, 5, 5, 0.808);
    z-index:3;
    margin-top:570px;
    position:sticky;
    position: -webkit-sticky;
    top:0;
    height:1200px;
    width:100%;
   
}

.secondDiv-image{
     z-index:3;
    margin-top:570px;
    position:sticky;
    position: -webkit-sticky;
    top:0;
    height:750px;
    width:100%;

}
.divGif{
    width:100%;
    height:750px;
}
.titleCard-background{
     background-color:rgb(14, 13, 13);
  
    position:sticky;
    position: -webkit-sticky;
    top:0;
    z-index:4;
    height:920px;
       width:100%;
       padding-top:110px;
   padding-bottom:240px;
  

}



.card{
    background-color:rgb(14, 13, 13);
    border-radius:40px;
     transition: all 1s ease-in-out;
    border-color:rgb(14, 13, 13);
    margin-top:100px;
   
  
    
    
    
    
}

.card:hover{
   background:rgb(14, 13, 13);
     transform: scale(1.2);
      transition: all 1s ease-in-out;
        // box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
}
.card-body{
    background-color:rgb(14, 13, 13);
   
}
.card-subtitle{
    color:rgb(161, 159, 159);
    text-decoration:none
}
.card-title{
  
  text-decoration: none;
 color:rgb(192, 190, 190);
  width: 100%;
  bottom: 20px;
  font-size:35px;
  font-weight:700px;
  transition: all 0.8s ease-in-out;
  font-family: 'RocknRoll One', sans-serif;
}

 .card-title:hover{
 
  letter-spacing: 8px;
  transition: all .8s ease-in-out;
  color: rgba(255, 255, 255, 0.815);
  text-shadow:
    0 0 .5px rgba(255, 255, 255, 0.815),
    0 0 1px rgba(255, 255, 255, 0.815),
    0 0 2px rgba(255, 255, 255, 0.815),
    0 0 3px rgba(255, 255, 255, 0.815),
    0 0 4px rgba(255, 255, 255, 0.815),
    0 0 5px rgba(255, 255, 255, 0.815),
    0 0 10px rgba(255, 255, 255, 0.815),
    0 0 20px rgba(255, 255, 255, 0.815);
  
}
//TESTIMONIALS
.fade_rule {
        height: 2px;
        z-index:10;
        width: 66.0em;
        margin: 0 auto;
       
        background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, grey), color-stop(0.5, white), color-stop(0.98, grey) );
}


//testimonials

.testimonials{
    width: 70%;
    height: 500px;
  
    box-sizing:border-box;
    display:flex;
   
    margin-top:50px;
    align-items:center;
    position:absolute;
    overflow:hidden;
     background-color:black;
    

    top:6000;
    z-index:8;
   }


.arr{
    position:relative;

    width:300px;
    height: 80%;
    transition:3s;
    overflow:hidden;
    border: 1px solid white;
   letter-spacing: 8px;
   transition: all .8s ease-in-out;
 }



button{
    &:focus{
        outline:none;
    }
}
.leftButton{
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    width:5%;
    height: 80%;
    transition:0.5s;
    border-right:1px solid black;
    &:hover{
        background:rgba(0,0,0,0.356);

    }
   
    cursor:pointer;
    border: none;
    background:none;
    outline:none;
    border-left:1px solid rgb(148, 147, 147);
   

}
.rightButton{
       &:hover{
        background:rgba(0,0,0,0.356);
       
      
    }
    cursor:pointer;
    transition:0.5s;
    border-right:1px solid rgb(148, 147, 147);
    background:none;
    outline:none;
    position:absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
    width:5%;
    height: 80%;
    border-left:none;
    border-top:none;
    border-bottom:none;
    

}
i{
    color:rgb(148, 147, 147);
    font-size:35px;
}

.testimonial-title{
     font-family: 'IM Fell English', serif;
    font-weight:600px;
    font-size:70px;
    letter-spacing:4px;
    color:rgb(218, 216, 216);
   padding-top:100px;
   margin-bottom:-70px;
     background-color:black;
        position:sticky;
    position: -webkit-sticky;
   top:0;
    z-index:10;
    justify-content:center;
     display:flex;
   
}
.test-bg{
    background-color:black;
    z-index:9000;
    width:100%;
  
}

//   width: 70%;
//     height: 500px;
  
//     box-sizing:border-box;
//     display:flex;
   
//     margin-top:50px;
//     align-items:center;
//     position:absolute;
//     overflow:hidden;
//      background-color:rgba(0, 0, 0, 0.836);
//         position:sticky;
//     position: -webkit-sticky;
//     top:0;
//     z-index:8;
   
.testimonial-title-background{
  
   position:relative;

     justify-content:center;
     display:flex;

}
.testimonial-text{
    background:rgba(0,0,0,0.253);
    color:white;

}



// LOGIN and SIGNUP


.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background:black;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.modal{
    border: 1px solid black;
      box-shadow:0 0 40px 15px white;
    display:flex;
     justify-content:center;
     border-radius:25px;
    background-color:black;
    // position:absolute;
    margin-left:400px;
//    top:20%;
//    left:30%;
    margin-top:90px;
     
}

.modalBackground{
    background: black;
    position: relative;
    top: 0;
    left: 0;
    height:730px;
    width:100%;
   
   
}
.arrowIcon{
    cursor:pointer;
    transform: scale(1.5,1);
   
  
}
.modalImage{
    cursor:pointer;
}
.startButton{
    margin-top:550px;
    margin-right:-500px;
    font-size:30px;
   
    
    
    color: white;
   
     position:absolute;
     border-radius:10px;
}
.seeProgressButton{
    margin-top:540px;
    margin-left:-85px;
    font-size:20px;
    padding:5px;
    width:180px;
    height:40px;
    color: white;
    background-color:black;
     position:absolute;
      border-radius:10px;

}


.modalText{
    
    font-size: 20px;
    
    text-align: center;
    color:rgb(161, 159, 159);
    width:100%;
    position:absolute;
      display:flex;
    justify-content:center;
    align-self:flex-end;
    margin-bottom:150px;
}
.modalText2{
      font-size: 20px;
    
    text-align: center;
    color:white;
    width:100%;
    position:absolute;
      display:flex;
    justify-content:center;
    align-self:flex-end;
    margin-bottom:200px;

}
.firstquestion-modal{
    font-size:20px;
   
}



//PROFILE page
.profileButton{
    margin-left:150px;
    font-size:20px;
    
}
.main{
    background-color: black;
}

.avatar{
    border-radius:50%;
    background-color:grey;
    margin-top:50px;
    height:30%;
    width:50%;
    margin-left:80px;




   
}

.person-name{
   display:flex;
   justify-content:center;

}
.phobiaName{
  
    font-size:35px;
     display:flex;
   justify-content:center;

}
.outer-line {
  width: 2px;
  height: 120%;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-right:-1px;
  margin-top:-500px;
  
 
}
.inner-line {
  position: absolute;
  width:100%;
  height: 70%;
  background: white;
  top: 30%;
  box-shadow: 0px 0px 30px 20px white;
  margin-right:-1px;
  margin-top:-500px;
  
}
//   .blackout-modal2 {
//       position:absolute;
//       margin-right:-100px;
//   }


//questions

.questions2{
    margin-left:500px;
    margin-top:-1000px;
    width:250px;
   
    font-size: 10px;
}




// modal on profile page

.firstquestion-modal2{
    font-size:30px;
    margin-right:-100px;
    margin-top:-100px;
   
}
.secondquestion-modal{
    font-size:30px;
    margin-right:-100px;

}



// // LOGIN


// .login-box {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 400px;
//   padding: 40px;
//   transform: translate(-50%, -50%);
//   background: rgba(0,0,0,.5);
//   box-sizing: border-box;
//   box-shadow: 0 15px 25px rgba(0,0,0,.6);
//   border-radius: 10px;
// }
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background:black;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: white;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: white;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px white,
              0 0 25px white,
              0 0 50px white,
              0 0 100px white;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, white);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, whiteo);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, whiteo);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, whiteo);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}



// //MODAL



  

.blackout-modal2{
    
    margin-left:500px;
    margin-top:-900px;
}



.testimonial-input{
    // position: absolute;
    // top: 0;
    // left: 0;
    // height:730px;
    // width:100%;
     margin-left:500px;
 margin-top:500px;

}


   

.testimonial-finalInput{
    height:200px;
    width:400px;
   
}
.testimonial-title2{
    margin-left:300px;
    margin-top:-500px;
}
// }

.uploadPhoto{
    margin-left:330px;
    width:150px;
    height:50px;

}


//progressbar

h2{
  color: white;
  font-size: 1.8em;
  margin-bottom: 15px;
  margin-top:40px;
  margin-left:60px;
  
}
.outer{
  display: flex;
  align-items: center;
  height: 20px;
  width: 300px;
  border: 5px solid white;
  border-radius: 50px;
  background: white;
  margin-left:50px;
}
.inner{
  height: 20px;
  width: 250px;
  background: lighten(black, 10);
  border-radius: 25px;
  transition: width 100ms ease-out;
}
.progressButton{
 
  cursor: pointer;

  border: 5px solid darken(black, 6);
  border-radius: 5px;
  background: black;
  margin-top:2px;
  color: white;
  width: 110px;
  font-size:30px;
  padding: 10px;
  margin-left:123px;
  font-weight: bold;
  text-align:center;
  outline: none;
  transition: 50ms ease-out;
  &:hover{
    transform: scale(1.04)}
  &:active{
    transform: scale(1.01);}
}





    //IMAGE UPLOAD

    .button-image{
  margin:10px;
    display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
 


}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  
}


.custom-file-input::before {
  content: 'Select the Image';
//   display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
 border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  
 
}
.custom-file-input:hover::before {
  border-color: white;

}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);

}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: ghostwhite;
  font-family: 'Roboto',sans-serif;
}

.AlphabetNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  // Shorthand for flex-wrap and flex-direction
  flex-flow: wrap row;
  padding: .5rem;
  background: ghostwhite;
}

.AlphabetNav a {
  display: flex;
  // Center align the letters within each box
  justify-content: center;
  padding: .5em;
  border-radius: 8px;
  font-size: 1.2em;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  color: darkgray;
}

.AlphabetNav a:hover {
  background: #ddd;
  color: #444;
}

.AlphabetNav .active {
  background: #f46353;
  color: white;
}

/*
  Contact List
*/
.ContactList {
  padding: 10em 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Contact {
  // Flexbox allows us to easily
  // align the avatar and the name
  display: flex;
  align-items: center;
  width: 90%;
}

.ContactList .Contact {
  margin-bottom: 1.5rem;
}

.Contact-avatar {
  margin: 0 1em 0 0;
  width: 30%;
  min-width: 60px;
  max-width: 100px;
  border-radius: 50%;
  background: #a7c031;
}

.Contact-name {
  margin: 0;
  font-size: 1.3em;
  font-weight: 500;
  color: darkgray;
}

@media (min-width: 400px) {
  .AlphabetNav {
    top: 2vh;
    right: 0;
    height: 90vh;
    width: 9em;
  }
  
  .AlphabetNav a {
    // desired width - margins
    width: calc(100% * 1/3 - .3em); 
  }
  
  .ContactList {
    padding-top: 2rem;
  }
}

@media (min-width: 400px) and (min-height: 600px) {
  .AlphabetNav {
    width: 6em;
  }
  
  .AlphabetNav a {
    width: calc(100% * 1/2 - .5em); 
    margin: .25em;
  }
}

@media (min-width: 800px) {
  // Change AlphabetNav to 
  // work horizontally
  .AlphabetNav {
    top: 0;
    display: flex;
    align-items: flex-start;
    flex-flow: nowrap row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background: ghostwhite;
  }
  
  .AlphabetNav a {
    margin: .5em 0;
    padding: .5em 0;
  }
  
  .ContactList {
    padding-top: 6rem;
  }
  
  .Contact {
    width: calc(100% * 1/3 - 2rem);
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,500,400);