// .background-image{
//       position: fixed;
//  z-index:-30;
//   min-width: 100%;
//   min-height: 100%;
// }

// TITLECARD 

.navbar{
    background-color: white;
    position:fixed;
    width:100%;
   z-index:300;
   color:black;
}

.part-title{
    font-size:85px;
    font-family: 'Bad Script', cursive;
    margin-top:340px;
   
   margin-left:530px;
   color:rgb(116, 114, 114);
    position:absolute;
   
}
.part-title2{
    font-size:105px;
   font-family: 'Caveat', cursive;
    margin-top:-35px;
    color:white;
        display:flex;
    justify-content:flex-end;
     margin-right:170px;
   
}


.first-card{
    margin-right:200px;
    margin-top:-460px;
    padding-left:80px;
     
   
    
   
}

.second-card{
    margin-left:-110px;
    margin-top:-460px;
    padding-left:10px;
     
     
    
}

.third-card{
    margin-left:100px;
    margin-top:-460px;
    padding-left:20px;
     
   
}
.fourth-card{
     margin-right:-1000px;
    margin-top:-460px;
    padding-left:90px;
   
     
 
    
}
.fifth-card{
     margin-left:-90px;
    margin-top:-340px;
     
     
    
    
}
.sixth-card{
     margin-left:-170px;
    margin-top:-200px;
     
    
   
}
.hover:hover{
          letter-spacing: 5px;
  transition: all .8s ease-in-out;

}

.card-subtitle{
    color:rgb(201, 198, 198);
    text-decoration:none;
   
}

.card-title{
  
  text-decoration: none;
 color:rgb(201, 198, 198);
  width: 100%;
  height:100%;
  font-size:35px;
  font-weight:700px;
   transition: all 0.5s ease-in-out;
  
  
  
}




body{
    background-color:black;
}
 .phobia-name{
    font-family: 'Montserrat', sans-serif;
    font-weight:600px;
    font-size:150px;
    letter-spacing:6px;
    margin-top:200px;
    color:white;
    display:flex;
    justify-content:flex-end;
     margin-right:100px;
}
.phobias-title{
    margin-top:-20px;
    margin-right:100px;
    padding-top:10px;
}
//TESTIMONIALS
.fade_rule {
        height: 2px;
        
        width: 66.0em;
        margin: 0 auto;
        background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, grey), color-stop(0.5, white), color-stop(0.98, grey) );
}


.testimonials{
    width: 93%;
    height: 600px;
    margin-left:3.5%;
    box-sizing:border-box;
    display:flex;
    margin-top:800px;
    align-items:center;
    position:absolute;
    overflow:hidden;
    
    
  
}
.arr{
    position:relative;
  
    min-width:350px;
    height: 80%;
    transition:3s;
    overflow:hidden;
    border: 1px solid white;
   
}


button{
    &:focus{
        outline:none;
    }
}
.leftButton{
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    width:5%;
    height: 80%;
    transition:0.5s;
    border-right:1px solid black;
    &:hover{
        background:rgba(0,0,0,0.356);

    }
   
    cursor:pointer;
    border: none;
    background:none;
    outline:none;
    border-left:1px solid rgb(148, 147, 147);
   

}
.rightButton{
       &:hover{
        background:rgba(0,0,0,0.356);
       
      
    }
    cursor:pointer;
    transition:0.5s;
    border-right:1px solid rgb(148, 147, 147);
    background:none;
    outline:none;
    position:absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
    width:5%;
    height: 80%;
    border-left:none;
    border-top:none;
    border-bottom:none;
    
}

i{
    color:rgb(148, 147, 147);
    font-size:35px;
}

.testimonial-title{
     font-family: 'IM Fell English', serif;
    font-weight:600px;
    font-size:120px;
    letter-spacing:4px;
    color:white;
    margin-top:90px;

}
.testimonial-text{
    background:rgba(0,0,0,0.253);
    color:white;

}
//MODAL

.modal{
    border: 1px solid white;
    margin-left:400px;
    margin-top:85px;
    background-color:black;
    
    
    
   
    
}

.modalBackground{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height:730px;
    width:100%;
   
}

.startButton{
    // margin-top:550px;
    // margin-right:40px;
    display:flex;
    justify-content:center;
    align-self:flex-end;
    margin-bottom:7px;
    font-size:20px;
    padding:5px;
    width:120px;
    height:40px;
    color: white;
    background-color:black;
     position:absolute;
}
.startButtonLast{
    margin-top:350px;
    margin-left:-85px;
    font-size:20px;
    padding:5px;
    width:180px;
    height:40px;
    color: white;
    background-color:black;
     position:absolute;
}


.modalText{
    
    font-size: 20px;
    
    text-align: center;
    color:white;
    width:100%;
    position:absolute;
      display:flex;
    justify-content:center;
    align-self:flex-end;
    margin-bottom:80px;
}
